*{
	margin: 0px;
	padding: 0px;
}

aside{
	float: right;
}


#personalizacion #color div
{
	transform: scaleX(0.4) translateY(-23.3em) translateX(10em);
	cursor: pointer;
	display: inline-block;
	height: 0.9em;
	opacity: 0.7;
	transition: all 1s ease;
	vertical-align: baseline;
	width: 20%;
	position: relative;

}

#personalizacion #color div:hover
{
	position: static;
	border: 0px;
	opacity: 1;
	transform: scaleY(20) ;
}


#personalizacion #color #amarillo
{
	background: #7F7775;
	background-image:url("graf04_num1.png") ;
	background-size: 27em 1em;
}

#personalizacion #color #azul
{
	background: #22A687;
	background-image: url("graf04_num2.png");
	background-repeat: no-repeat;
	background-size: 27em 1em;

}
/*#personalizacion #color #blanco
{
	background: #7F7775;
}
#personalizacion #color #negro
{
	background: #121212;
}
#personalizacion #color #rojo
{
	background: #9F001C;
}
#personalizacion #color #verde
{
	background: #6DD944;
}*/