<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

	<div id="app">
			<form>
					<input type="text" v-model="nuevaTarea" placeholder="Tarea"
									@keyUp="guardarTarea"> <!-- @ = v-on: -->
					<input type="submit" value="Guardar tarea">
			</form>
		 <input type="range" v-model="tiempo">{{ tiempo }}
		 <br>
		 <input type="search" v-model="busqueda" placeholder="Busqueda">
		<p v-for="(datos , prop) in users">{{datos}} : {{prop}}</p>
		<hr>
		<li v-for="tarea in flitroTareas"> {{tarea.nombre}} - {{tarea.tiempo}}</li>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	
	<script>

		// Tradicional
		window.onload = () => {
			const form = document.querySelector("form");
			const input = document.querySelector("input[type=text]");
			form.onsubmit = (evento) => {
				evento.preventDefault();
				app.tareas.unshift({
					nombre: input.value,
					tiempo: 10,
				});
				input.value = null;
			}
		};
		const app= new Vue({
			el:"#app",
			data:{
				nuevaTarea: '',
				tiempo: 0,
				busqueda:'', //propiedad con string vacia 
				users:{
					username:"irving",
					role:"admin"
				},
				tareas: [
					{nombre: 'Aprender JavaScript moderno', tiempo: 3},
					{nombre: 'Aprender Vue.js', tiempo: 17},
					{nombre: 'Reparar el coche', tiempo: 62},
					{nombre: 'Viajar más', tiempo: 66},
					{nombre: 'Comprar la cena', tiempo: 82},
					{nombre: 'Mejorar como desarrollador', tiempo: 9},
					{nombre: 'Dar un curso', tiempo: 34}
				],
			},
			methods: {
				guardarTarea() {
					this.tareas.unshift({
						nombre: this.nuevaTarea,
						tiempo: Math.floor(Math.random() * 100),
					});
					//  this.nuevaTarea = null;
				}
			},
			computed:{
				flitroTareas() {
					return this.tareas.filter(tarea => { //filtran las tareas 
						return tarea.tiempo <= this.tiempo && tarea.nombre.includes(this.busqueda);  //test de validcion menor o igual a this.tiempo
					})
				}
			}
		});
		Vue.config.devtools = true;
	</script>
</body>
</html>