<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Basic</title>
</head>
<body>
    
<div id="app">
    <!-- reactividad o data binding 
        v-bind:attr ó :attr (hace a los atributos dinamicos )    
    -->
    <!-- <input type="text"v-model="enlace">
    <a v-bind:href="enlace">{{enlace}}</a> -->

    <input v-model="ancho" type="range">Ancho
    <input v-model="altura" type="range">Alto <br>

    
    <img :src="urlcompleta" alt="">
    <br>
    {{urlcompleta}}
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    const app= new Vue({
        el: "#app",
        data:{
            enlace: "https://www.webdesignrs.com/profile",
            baseurl: "http://placekitten.com",
            altura:50,
            ancho:50
        },
        computed:{
            urlcompleta(){
                return `${this.baseurl}/${this.ancho*3}/${this.altura*3}`;
            }
        }
    });
    Vue.config.devtools = true;
</script>
</html>